{
  "parser": "@typescript-eslint/parser",
  "extends": [
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["@typescript-eslint"],
  "settings": {
    "import/resolver": {
      "alias": [
        ["@data", "src/data"],
        ["@pages", "src/pages"],
        ["@shared", "src/shared"],
        ["@ui", "src/ui"]
      ]
    }
  }
}