{
  "parser": "babel-eslint",
  "settings": {
    "import/resolver": {
      "alias": [
        ["@data", "src/data"],
        ["@pages", "src/pages"],
        ["@shared", "src/shared"]
      ]
    }
  }
}